@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }

body {
    margin: 0;
    background-color: #ddd;
    font-family:'bitbit';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
}
.header_logo {
    font-size: 25px;
}
.header_logo a {
    text-decoration: none;
    color: #eee;
}
.header_logo a i {
    margin-left: 5px;
    padding: 10px;
    color: #be6a5b;
}

.header_menu {
    display: flex;
    padding-left: 0;
}
.header_menu li {
    list-style: none;
    padding: 20px;
}
.header_menu li a {
    padding: 15px;
    text-decoration: none;
    color: #eee;
    border-radius: 15px;
}
.header_menu li a:hover{
    background-color: #be6a5b;
}

.header_icons {
    display: flex;
    font-size: 23px;
    padding-left: 0;
}
.header_icons li {
    list-style: none;
    padding: 20px;
    margin-right: 10px;
}
.header_icons li a {
    color: #eee;
}
.bar {
    display: none;
}
@media  screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .header_logo {
        
    }
    .header_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .bar {
        display: block;
        position: absolute;
        color:#eee;
        font-size: 23px;
        right: 20px; top: 10px;
    }
    .header_menu.active,
    .header_icons.active {
        display: flex;
    }
}